
	<!-- if user is not logged in  -->

	<div class="header" id="header" ng-if= "!header.session">
		<div class="wrapper">
			<h1>
				<img class="lazy-loaded" alt="LinkedIn" src="">
			</h1>
			<div class="login-form" data-smartlock-autologin="true" data-smartlock-unmediated="" data-smartlock-save-signin="true">
				<label for="login-email">Email</label>
				<input type="email" name="session_key" ng-model="signindata.email" class="login-email" autocapitalize="off" tabindex="1" id="login-email" placeholder="Email" autofocus="autofocus" dir="ltr">
				<label for="login-password"></label>
				<input type="password" name="session_password" ng-model="signindata.password" class="login-password" id="login-password" aria-required="true" tabindex="1" placeholder="Password">
				<input tabindex="1" id="login-submit" class="login submit-button" type="submit" value="Sign in" ng-click="login()">
			</div>
		</div>
	</div>


<!-- if user is logged in -->
<div class="ember-application boot-complete icons-loaded"  ng-if= " header.profile == 'jobseeker' ">
	<nav id="extended-nav" class="extended-nav nav-main-container global-alert-offset-top" role="banner" tabindex="-1" style="display: block;">
		<div class="nav-main__content display-flex">
			<div class="nav-main__inbug-container fl mr3">
				<div id="inbug-nav-item" class="nav-item--inbug" lang="en">
					<a data-alias="" data-link-to="feed" data-resource="feed/badge" data-control-name="" class="nav-item__link js-nav-item-link">
               <span class="nav-item__icon nav-item__icon--inbug" lang="en" aria-role="presentation">
               </span>
					</a>
				</div>
				<div id="china-branding-nav-item" class="nav-item--china-branding hidden" lang="en"><a data-alias="" data-link-to="feed" data-control-name="nav.homepage-zh_CN"><span class="nav-item__china-logo" aria-role=""><span class="visually-hidden">LinkedIn领英</span></span></a></div>
			</div>

			<ul class="nav-main nav-container" role="navigation" style="width: 10px !important;">
				<li id="feed-nav-item" class="nav-item nav-item--feed" lang="en">
					<a ng-click="gotohomepage()" data-alias="" data-link-to="feed" data-resource="feed/badge" data-control-name="" class="nav-item__link js-nav-item-link active">
						  <span id="feed-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
							 <li-icon aria-hidden="true" type="nav-small-home-icon" color="true">
								<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
								   <g class="active-item" style="fill-opacity: 1">
								   </g>
								   <g class="inactive-item" style="fill: currentColor">
								   </g>
								</svg>
							 </li-icon>
						  </span>
						<span class="nav-item__title">Home</span>
					</a>
				</li>
				<li id="mynetwork-nav-item" class="nav-item nav-item--mynetwork" lang="en">
					<a ng-click="toappliedjobs()" data-alias="relationships" data-link-to="mynetwork" data-resource="voyagerCommunicationsTabBadges" data-control-name="" class="nav-item__link js-nav-item-link">
						<span id="mynetwork-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
							 <li-icon aria-hidden="true" type="nav-small-people-icon" color="true">
								<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
								   <g class="active-item" style="fill-opacity: 1">
								   </g>
								   <g class="inactive-item" style="fill: currentColor">
								   </g>
								</svg>
							 </li-icon>
						  </span>
						<span class="nav-item__title">Applied jobs</span>
					</a>
				</li>
				<li id="jobs-nav-item" class="nav-item nav-item--jobs" lang="en">
					<a ng-click="tointerestedjobs()" data-alias="" data-link-to="jobs" data-resource="" data-control-name="" class="nav-item__link js-nav-item-link">
					  <span id="jobs-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
						 <li-icon aria-hidden="true" type="nav-small-jobs-icon" color="true">
							<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
							   <g class="active-item" style="fill-opacity: 1">
								  <path d="M2,13H22v6a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V13ZM22,8v4H2V8A1,1,0,0,1,3,7H7V6a3,3,0,0,1,3-3h4a3,3,0,0,1,3,3V7h4A1,1,0,0,1,22,8ZM15,6a1,1,0,0,0-1-1H10A1,1,0,0,0,9,6V7h6V6Z"></path>
							   </g>
							   <g class="inactive-item" style="fill: currentColor">
								  <path d="M21,7H17V6a3,3,0,0,0-3-3H10A3,3,0,0,0,7,6V7H3A1,1,0,0,0,2,8V19a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V8A1,1,0,0,0,21,7ZM9,6a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1V7H9V6ZM20,18H4V13H20v5Zm0-6H4V9H20v3Z"></path>
							   </g>
							</svg>
						 </li-icon>
					  </span>
						<span class="nav-item__title"> Interested</span>
					</a>
				</li>
				<li id="jobs-nav-item" class="nav-item nav-item--jobs" lang="en">
					<a data-alias="" ng-click="toViewJobs()" data-link-to="jobs" data-resource="" data-control-name="" class="nav-item__link js-nav-item-link">
					   <span id="jobs-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
						  <li-icon aria-hidden="true" type="nav-small-jobs-icon" color="true">
							 <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
								<g class="active-item" style="fill-opacity: 1">
								   <path d="M2,13H22v6a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V13ZM22,8v4H2V8A1,1,0,0,1,3,7H7V6a3,3,0,0,1,3-3h4a3,3,0,0,1,3,3V7h4A1,1,0,0,1,22,8ZM15,6a1,1,0,0,0-1-1H10A1,1,0,0,0,9,6V7h6V6Z"></path>
								</g>
								<g class="inactive-item" style="fill: currentColor">
								   <path d="M21,7H17V6a3,3,0,0,0-3-3H10A3,3,0,0,0,7,6V7H3A1,1,0,0,0,2,8V19a1,1,0,0,0,1,1H21a1,1,0,0,0,1-1V8A1,1,0,0,0,21,7ZM9,6a1,1,0,0,1,1-1h4a1,1,0,0,1,1,1V7H9V6ZM20,18H4V13H20v5Zm0-6H4V9H20v3Z"></path>
								</g>
							 </svg>
						  </li-icon>
					   </span>
						<span class="nav-item__title">Jobs</span>
					</a>
				</li>
				<li id="profile-nav-item" class="nav-item nav-item--profile" lang="en">
					<div id="nav-settings__dropdown" class="dropdown closed ember-view">
						<button type="button" aria-controls="nav-settings__dropdown-options" aria-expanded="false" data-control-name="nav.settings" id="nav-settings__dropdown-trigger" class="Sans-15px-black-70%-semibold nav-item__link dropdown-trigger ember-view">
							<img src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/AAEAAQAAAAAAAAkSAAAAJDY0YmIwODAwLWQxMjAtNDIzNC05ZGFmLWFmZjJiYjYwZjliZA.jpg" class="nav-item__profile-member-photo nav-item__icon" alt="Darshan Sapaliga" height="24" width="24">
							<div class="nav-item__title-container">
								<span class="nav-item__title nav-item__dropdown-trigger--title">Me</span>
								<span class="nav-item__dropdown-trigger--icon svg-icon-wrap">
                        <li-icon aria-hidden="true" type="caret-filled-down-icon" size="small">
                           <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
                              <g class="small-icon" style="fill-opacity: 1">
                              </g>
                           </svg>
                        </li-icon>
                     </span>
							</div>
						</button>
						<ul id="nav-settings__dropdown-options" style="display: none;" class="dropdown-options nav-settings__dropdown-options ember-view" tabindex="-1">
							<!---->
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</nav>
</div>

	
	<!-- HEADER C1 -->
    <!-- if company is logged in && verified -->
	<div class="ember-application boot-complete icons-loaded" ng-if=" header.profile == 'company'">
		<nav id="extended-nav" class="extended-nav nav-main-container global-alert-offset-top" role="banner" tabindex="-1" style="display: block;">
			<div class="nav-main__content display-flex">
				<div class="nav-main__inbug-container fl mr3">
					<div id="inbug-nav-item" class="nav-item--inbug" lang="en">
						<a data-alias="" data-link-to="feed" data-resource="feed/badge" data-control-name="" class="nav-item__link js-nav-item-link">
						</a>
					</div>
					<div id="china-branding-nav-item" class="nav-item--china-branding hidden" lang="en"><a data-alias="" data-link-to="feed" data-control-name="nav.homepage-zh_CN"><span class="nav-item__china-logo" aria-role=""><span class="visually-hidden">LinkedIn领英</span></span></a></div>
				</div>
				
				<ul class="nav-main nav-container" role="navigation" style="width: 10px !important;">
					<li id="feed-nav-item" class="nav-item nav-item--feed" lang="en" style="margin-right: -20px;">
						<a data-alias="" data-link-to="feed" data-resource="feed/badge" data-control-name="" class="nav-item__link js-nav-item-link">
               				<span id="feed-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
                  				<li-icon aria-hidden="true" type="nav-small-home-icon" color="true">
                     				<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
                       					<g class="active-item" style="fill-opacity: 1">
                        				</g>
                        				<g class="inactive-item" style="fill: currentColor">
                        				</g>
                     				</svg>
                  				</li-icon>
               				</span>
							<span class="nav-item__title">Home</span>
						</a>
					</li>
					<li id="feed-nav-item" class="nav-item nav-item--feed" lang="en" style="margin-right: -20px;">
						<a ng-click="update()" data-alias="" data-link-to="feed" data-resource="feed/badge" data-control-name="" class="nav-item__link js-nav-item-link">
               				<span id="feed-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
                  				<li-icon aria-hidden="true" type="nav-small-home-icon" color="true">
                     				<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
                       					<g class="active-item" style="fill-opacity: 1">
                        				</g>
                        				<g class="inactive-item" style="fill: currentColor">
                        				</g>
                     				</svg>
                  				</li-icon>
               				</span>
							<span class="nav-item__title">Update</span>
						</a>
					</li>
					<li id="feed-nav-item" class="nav-item nav-item--feed" lang="en" style="margin-right: -20px;">
						<a ng-click="companyPostJob()" data-alias="" data-link-to="feed" data-resource="feed/badge" data-control-name="" class="nav-item__link js-nav-item-link">
               				<span id="feed-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
                  				<li-icon aria-hidden="true" type="nav-small-home-icon" color="true">
                     				<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
                       					<g class="active-item" style="fill-opacity: 1">
                        				</g>
                        				<g class="inactive-item" style="fill: currentColor">
                        				</g>
                     				</svg>
                  				</li-icon>
               				</span>
							<span class="nav-item__title">Post Job</span>
						</a>
					</li>
					<li id="jobs-nav-item" class="nav-item nav-item--jobs" lang="en">
						<a ng-click="viewJobPostings()" data-alias="" data-link-to="jobs" data-resource="" data-control-name="" class="nav-item__link js-nav-item-link">
               				<span id="jobs-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
                  			<li-icon aria-hidden="true" type="nav-small-jobs-icon" color="true">
                     			<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
                        			<g class="active-item" style="fill-opacity: 1">
                        			</g>
                        			<g class="inactive-item" style="fill: currentColor">
                        			</g>
                     			</svg>
                  			</li-icon>
               				</span>
							<span class="nav-item__title">View Jobs</span>
						</a>
					</li>
					<li id="jobs-nav-item" class="nav-item nav-item--jobs" lang="en">
						<a data-alias="" data-link-to="jobs" data-resource="" data-control-name="" class="nav-item__link js-nav-item-link" ng-click="logout()">
               				<span id="jobs-tab-icon" class="nav-item__icon" lang="en" aria-role="presentation">
                  			<li-icon aria-hidden="true" type="nav-small-jobs-icon" color="true">
                     			<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="nav-icon" xmlns="http://www.w3.org/2000/svg">
                        			<g class="active-item" style="fill-opacity: 1">
                        			</g>
                        			<g class="inactive-item" style="fill: currentColor">
                        			</g>
                     			</svg>
                  			</li-icon>
               				</span>
							<span class="nav-item__title">Logout</span>
						</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- if company is logged in && verified -->
	<!-- END OF HEADER C1 -->
	
	
	
	<!--angular ui-view-->
	<div ui-view>
		<div class="main background lazy-loaded show-join" data-delayed-url="https://static.licdn.com/sc/h/64xk850n3a8uzse6fi11l3vmz">
			<div id="regForm" class="reg-form">
				<h2 class="title">Be great at what you do</h2>
				<h3 class="subtitle">Get started - it's free.</h3>
				<div class="reg-alert hidden" tabindex="-1">
					<span class="alert-content"></span>
					<button type="button" class="dismiss-alert">
						<span class="screen-reader-text">Close</span>
					</button>
				</div>
				<label for="reg-password">Account Type</label>
				<select name="session_password" ng-model="profile.type" ng-init= "profile.type = 'user' " class="reg-userType" id="reg-email" aria-required="true" tabindex="1" style="width: 100%; height: 35px; margin-bottom: 20px;">
					<option value="user"> User </option>
					<option value="company"> Company </option>
				</select>
				
				<!-- if user selected --> 
				<div ng-if= "profile.type == 'user' ">
					<div class="invEmail" style="color : red">{{invEmail}}</div>
					<label for="reg-firstName">First name</label>
					<input type="text" name="firstName" id="reg-firstname" class="reg-firstname" tabindex="1" autofocus="autofocus" ng-model="userdata.fname">
					<label for="reg-lastName">Last name</label>
					<input type="text" tabindex="1" name="lastName"  id="reg-lastname" class="reg-lastname" aria-required="true" ng-model="userdata.lname">
					<label for="reg-email">Email</label>
					<input type="email" name="session_key" class="reg-email"  autocapitalize="off" tabindex="1" id="reg-email" autofocus="autofocus" ng-model="userdata.uemail">
					<label for="reg-password">Password (6 or more characters)</label>
					<input type="password" name="session_password" class="reg-password" id="reg-password" aria-required="true" tabindex="1" autocomplete="new-password" ng-model="userdata.upassword">
				</div>
				<!-- if company selected  -->
				<div ng-if = "profile.type == 'company' ">
					<div class="invEmail" style="color: red">{{invEmail}}</div>
					<label for="reg-firstName">Company Name</label>
					<input type="text" name="firstName" ng-model="companydata.cname" id="reg-firstname" class="reg-firstname" tabindex="1" autofocus="autofocus">
					
					<label for="reg-firstName">Company Webisite</label>
					<input type="text" name="firstName" ng-model="companydata.website" id="reg-firstname" class="reg-firstname" tabindex="1" autofocus="autofocus">
					
					<label for="reg-firstName">Logo URL</label>
					<input type="text" name="firstName" ng-model="companydata.logoURL" id="reg-firstname" class="reg-firstname" tabindex="1" autofocus="autofocus">
					
					<label for="reg-firstName">Office HQ</label>
					<input type="text" name="firstName" ng-model="companydata.address" id="reg-firstname" class="reg-firstname" tabindex="1" autofocus="autofocus">
					
					<label for="reg-email">Company Description</label>
					<input type="text" name="session_key" class="reg-email" ng-model="companydata.companyDesc" autocapitalize="off" tabindex="1" id="reg-email" autofocus="autofocus">
					
					<label for="reg-email">Company Email</label>
					<input type="text" name="session_key" class="reg-email" ng-model="companydata.cemail" autocapitalize="off" tabindex="1" id="reg-email" autofocus="autofocus">
					
					<label for="reg-password">Password (6 or more characters)</label>
					<input type="password" name="session_password" class="reg-password" ng-model="companydata.cpassword" id="reg-password" aria-required="true" tabindex="1" autocomplete="new-password">
				</div>
				<input tabindex="1" id="registration-submit" type="submit" "registration submit-button" ng-click="signup()" value="Join now">
			</div>
		</div>

		<!-- sub footer -->
		<div class="meter">
			<div class="directory" style="">
				<div class="directory">
					<h3 class="title" style="color: white; text-align: center;">Contact Us</h3>
					<br><br>

					<div class = "container" style="text-align: center; color: white;">
						<span>
							Darshan Sapaliga
						</span>
						</br></br>
						<span>
							Niranjan Tungatkar
						</span>
						</br></br>
						<span>
							Ajay Tanpure
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="legal-nav">
			<div class="copyright"><img class="logo-copyright lazy-loaded" alt="LinkedIn" src="https://static.licdn.com/sc/h/5koy91fjbrc47yhwyzws65ml7"> © 2017</div>
			<ul>
				<li><a>Copyright Policy</a></li>
			</ul>
		</div>
	</footer>

  