	<!-- if user is not logged in --> 
	<div class="header" id="header" ng-if= !currentuser>
		<div class="wrapper">
			<h1>
				<img class="lazy-loaded" alt="LinkedIn" src="">
			</h1>
			<div class="login-form" data-smartlock-autologin="true" data-smartlock-unmediated="" data-smartlock-save-signin="true">
				<label for="login-email">Email</label>
				<input type="text" name="session_key" ng-model="signindata.email" class="login-email" autocapitalize="off" tabindex="1" id="login-email" placeholder="Email" autofocus="autofocus" dir="ltr">
				<label for="login-password"></label>
				<input type="password" name="session_password" ng-model="signindata.password" class="login-password" id="login-password" aria-required="true" tabindex="1" placeholder="Password">
				<input tabindex="1" id="login-submit" class="login submit-button" type="submit" value="Sign in" ng-click="login()">
			</div>
		</div>
	</div>
	<!-- if user is logged in  -->

	<!-- angular ui-view -->
	<div ui-view>
		<div class="main background lazy-loaded show-join" data-delayed-url="https://static.licdn.com/sc/h/64xk850n3a8uzse6fi11l3vmz">
			<div id="regForm" class="reg-form">
				<h2 class="title">Be great at what you do</h2>
				<h3 class="subtitle">Get started - it's free.</h3>
				<div class="reg-alert hidden" tabindex="-1">
					<span class="alert-content"></span>
					<button type="button" class="dismiss-alert">
						<span class="screen-reader-text">Close</span>
					</button>
				</div>
				<label for="reg-password">Account Type</label>
				<select name="session_password" ng-model="profile.type" ng-init= "profile.type = 'user' " class="reg-userType" id="reg-email" aria-required="true" tabindex="1" style="width: 100%; height: 35px; margin-bottom: 20px;">
					<option value="user"> User </option>
					<option value="company"> Company </option>
				</select>
				
				<!-- if user selected --> 
				<div ng-if= "profile.type == 'user' ">
					<label for="reg-firstName">First name</label>
					<input type="text" name="firstName" id="reg-firstname" class="reg-firstname" tabindex="1" autofocus="autofocus" ng-model="userdata.fname">
					<label for="reg-lastName">Last name</label>
					<input type="text" tabindex="1" name="lastName"  id="reg-lastname" class="reg-lastname" aria-required="true" ng-model="userdata.lname">
					<label for="reg-email">Email</label>
					<input type="text" name="session_key" class="reg-email"  autocapitalize="off" tabindex="1" id="reg-email" autofocus="autofocus" ng-model="userdata.uemail">
					<label for="reg-password">Password (6 or more characters)</label>
					<input type="password" name="session_password" class="reg-password" id="reg-password" aria-required="true" tabindex="1" autocomplete="new-password" ng-model="userdata.upassword">
				</div>
				<!-- if company selected  -->
				<div ng-if = "profile.type == 'company' ">
					<label for="reg-firstName">Company Name</label>
					<input type="text" name="firstName" ng-model="companydata.cname" id="reg-firstname" class="reg-firstname" tabindex="1" autofocus="autofocus">
					<label for="reg-email">Company Email</label>
					<input type="text" name="session_key" class="reg-email" ng-model="companydata.cemail" autocapitalize="off" tabindex="1" id="reg-email" autofocus="autofocus">
					<label for="reg-password">Password (6 or more characters)</label>
					<input type="password" name="session_password" class="reg-password" ng-model="companydata.cpassword" id="reg-password" aria-required="true" tabindex="1" autocomplete="new-password">
				</div>
				<input tabindex="1" id="registration-submit" type="submit" "registration submit-button" ng-click="signup()" value="Join now">
			</div>
		</div>

		<!-- sub footer -->
		<div class="meter">
			<div class="directory" style="">
				<div class="directory">
					<h3 class="title" style="color: white; text-align: center;">Contact Us</h3>
					<div class = "container" style="text-align: center; color: white;">
						<span>
							Darshan Sapaliga
						</span>
						</br></br>
						<span>
							Niranjan Tungatkar
						</span>
						</br></br>
						<span>
							Ajay Tanpure
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer>
		<div class="legal-nav">
			<div class="copyright"><img class="logo-copyright lazy-loaded" alt="LinkedIn" src="https://static.licdn.com/sc/h/5koy91fjbrc47yhwyzws65ml7"> © 2017</div>
			<ul>
				<li><a href="https://www.linkedin.com/legal/copyright-policy?trk=uno-reg-guest-home-copyright-policy">Copyright Policy</a></li>
			</ul>
		</div>
	</footer>

  