<div class="main background lazy-loaded show-join" data-delayed-url="https://static.licdn.com/sc/h/64xk850n3a8uzse6fi11l3vmz" style="display: flex; flex-direction: column; flex-grow: 1; align-items: center; justify-content: center; min-height: 487px; background-image: url('../images/loginpage.jpg');">
	<div id="regForm" class="reg-form">
		<div style="color : red" ng-show="showInvMsg">{{invVerirficationMsg}}</div>
		<label for="verify-code">Enter Verification Code</label>
		<input type="text" name="firstName" ng-model="verification.code" id="verify-code" class="reg-firstname" tabindex="1" autofocus="autofocus">
		<input tabindex="1" id="registration-submit" type="submit" "registration submit-button" ng-click="verify()" value="Verify">
	</div>
</div>