<div class="main background lazy-loaded show-join" data-delayed-url="https://static.licdn.com/sc/h/64xk850n3a8uzse6fi11l3vmz" style="display: flex; flex-direction: column; flex-grow: 1; align-items: center; justify-content: center; min-height: 487px; background-image: url('../images/loginpage.jpg');">
	<div id="regForm" class="reg-form">
		<label for="verify-code">Email</label>
		<input type="text" name="firstName" ng-model="logincredentials.email" id="login-email" class="reg-firstname" tabindex="1" autofocus="autofocus">
		<label for="verify-code">Password</label>
		<input type="password" name="firstName" ng-model="logincredentials.password" id="login-password" class="reg-firstname" tabindex="1" autofocus="autofocus">
		<input tabindex="1" id="registration-submit" type="submit" "registration submit-button" ng-click="login()" value="Sign In">
	</div>
</div>