<link rel="stylesheet" href="https://static.licdn.com/sc/h/br/e5f7dey6qd6ogtlcygkj2j7zt">
<link rel="stylesheet" href="https://static.licdn.com/sc/h/br/7wwsuzq8ypctt24b973gr089n">
<link rel="stylesheet" href="https://static.licdn.com/sc/h/br/6x2ymwyjoslvfumll21syppf7">

<style>
    .axe-violation--level-1:not(:focus):not(:hover) {
        background-image: repeating-linear-gradient(
                135deg,
                transparent,
                transparent 10%,
                hsla(0, 0%, 88%, 1.00) 10%,
                hsla(0, 0%, 62%, 1.00) 15%,
                hsla(0, 0%, 38%, 1.00) 20%,
                transparent 20%,
                transparent 35%
        ) !important;
    }

    .axe-violation--level-2:not(:focus):not(:hover) {
        background-image: repeating-linear-gradient(
                135deg,
                transparent,
                transparent 25%,   /* make transparent portion somewhat wider than total stripe width */
                hsla(60, 79%, 59%, 1.00) 25%,
                hsla(60, 79%, 59%, 1.00) 30%,
                hsla(166, 44%, 65%, 1.00) 30%,
                hsla(166, 44%, 65%, 1.00) 35%,
                hsla(240, 26%, 50%, 1.00) 35%,
                hsla(240, 26%, 50%, 1.00) 40%
        ) !important;
    }

    .axe-violation--level-3:not(:focus):not(:hover) {
        background-image: repeating-linear-gradient(
                135deg,
                transparent,
                transparent 0.5em,
                hsla(60, 79%, 59%, 1.00) 0.5em,
                hsla(60, 79%, 59%, 1.00) 1em,
                hsla(240, 26%, 50%, 1.00) 1em,
                hsla(240, 26%, 50%, 1.00) 1.5em
        ) !important;
    }

    .axe-violation--replaced-element:not(:focus):not(:hover) {
        box-shadow:
                0 0 0em 0.35em hsla(240, 26%, 50%, 1.00) inset,
                0 0 0em 0.35em hsla(60, 79%, 59%, 1.00),
                0 0 0em 0.70em hsla(240, 26%, 50%, 1.00) !important;

        /* Scale down slightly so box shadow is visible */
        transition-duration: 0.3s !important;
        transition-timing-function: ease-in-out !important;
        transform: scale(0.9) !important;
    }

</style>





<div id="ember2108" class="ember-view">
    <div aria-live="polite" role="status" id="ember2130" class="notification-container ember-view">
        <!---->
    </div>
    <!---->
    <div class="application-outlet " style="top:auto">
        <div id="ember2150" class="ember-view">
            <div id="ember2159" class="ember-view"></div>
            <div id="ember2221" class="ember-view"></div>
            <div id="ember2236" class="ember-view"></div>
            <div id="ember2249" class="ember-view"></div>
            <div id="ember13296" class="ember-view"></div>
            <div id="ember13303" class="ember-view"></div>
            <div id="ember2303" class="ember-view"></div>
            <!---->
            <img id="bizo-pixel" width="1" height="1" alt="" style="display:none" src="/csp/dtag?p=10">
            <img id="rtb-pixel" width="1" height="1" alt="" style="display:none" src="/csp/ansync">
            <img id="bing-pixel" width="1" height="1" alt="" style="display:none" src="/csp/bngsync">
        </div>
        <!---->
        <!---->
        <aside id="msg-overlay" class="msg-overlay-container ember-view">
            <!---->
            <!---->
            <!---->
            <div id="ember4447" class="mh4 msg-overlay-list-bubble msg-overlay-list-bubble--is-minimized ember-view">
                <header class="msg-overlay-bubble-header  msg-overlay-bubble-header--white">
                    <h4 data-control-name="overlay.maximize_connection_list_bar" class="msg-overlay-bubble-header__title Sans-15px-black-85%" data-ember-action="" data-ember-action-4450="4450">
                        Messaging
                    </h4>
                    <div class="msg-overlay-bubble-header__controls">
                        <button data-control-name="overlay.compose_message" class="msg-overlay-bubble-header__control msg-overlay-bubble-header__control--new-convo-btn button-tertiary-small-round-muted" data-ember-action="" data-ember-action-4451="4451">
                            <span class="visually-hidden">Compose message</span>
                            <li-icon aria-hidden="true" type="compose-icon" size="small">
                                <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
                                    <g class="small-icon" style="fill-opacity: 1">
                                        <path d="M11,8.75l2-2V13a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V4A1,1,0,0,1,3,3H9.25l-2,2H4v7h7V8.75ZM6,8.59L5,11l2.41-1L12.9,4.52,11.48,3.1Zm8.85-6.73-0.71-.71a0.5,0.5,0,0,0-.71,0L12.25,2.34l1.41,1.41,1.19-1.19A0.5,0.5,0,0,0,14.85,1.85Z"></path>
                                    </g>
                                </svg>
                            </li-icon>
                        </button>
                        <div id="ember4454" class="dropdown msg-overlay-bubble-header__dropdown closed ember-view">
                            <button type="button" aria-controls="ember4454-options" aria-expanded="false" data-control-name="overlay.connection_list_settings" id="ember4454-trigger" class="dropdown-trigger msg-overlay-bubble-header__control msg-overlay-bubble-header__control--settings-btn button-tertiary-small-round-muted ember-view">
                                <span class="visually-hidden">Tap for popup settings</span>
                                <li-icon aria-hidden="true" type="gear-icon" size="small">
                                    <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
                                        <g class="small-icon" style="fill-opacity: 1">
                                            <path d="M8,6a2,2,0,1,0,2,2A2,2,0,0,0,8,6ZM8,9.13A1.13,1.13,0,1,1,9.13,8,1.13,1.13,0,0,1,8,9.13Zm5.36-1.49L15,6.12,13.12,2.88,11,3.54l-0.15,0a0.5,0.5,0,0,1-.49-0.39L9.88,1H6.12L5.64,3.17a0.5,0.5,0,0,1-.49.39L5,3.54,2.88,2.88,1,6.12,2.64,7.63a0.5,0.5,0,0,1,0,.74L1,9.88l1.88,3.25L5,12.46l0.15,0a0.5,0.5,0,0,1,.49.39L6.12,15H9.88l0.49-2.17a0.5,0.5,0,0,1,.49-0.39l0.15,0,2.12,0.66L15,9.88,13.36,8.37A0.5,0.5,0,0,1,13.36,7.63Zm-1.1,1.93,0.68,0.63-0.58,1-0.88-.28a2.12,2.12,0,0,0-2.71,1.56l-0.2.9H7.42l-0.2-.9a2.12,2.12,0,0,0-2.71-1.56l-0.88.28-0.58-1,0.68-.63a2.13,2.13,0,0,0,0-3.12L3.06,5.81l0.57-1L4.52,5.09A2.12,2.12,0,0,0,7.22,3.53l0.2-.9H8.58l0.2,0.9a2.12,2.12,0,0,0,2.71,1.56l0.88-.28,0.57,1-0.68.63A2.13,2.13,0,0,0,12.26,9.56Z"></path>
                                        </g>
                                    </svg>
                                </li-icon>
                            </button>
                            <div class="msg-overlay-bubble-header__dropdown-container">
                                <ul id="ember4454-options" style="display: none;" class="msg-overlay-bubble-header__dropdown-options ember-view" tabindex="-1">
                                    <!---->
                                </ul>
                            </div>
                        </div>
                        <button aria-controls="messaging-overlay-ember4447" aria-expanded="false" data-control-name="overlay.maximize_connection_list_toggle" class="msg-overlay-bubble-header__control msg-overlay-bubble-header__control--minimize-btn button-tertiary-small-round-muted" data-ember-action="" data-ember-action-4457="4457">
                     <span class="visually-hidden">
                     Open conversation list
                     </span>
                            <li-icon aria-hidden="true" type="bar-top-icon" size="small">
                                <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
                                    <g class="small-icon" style="fill-opacity: 1">
                                        <path d="M14,2V4H2V2H14Z"></path>
                                    </g>
                                </svg>
                            </li-icon>
                        </button>
                    </div>
                </header>
                <section class="msg-overlay-bubble-content msg-overlay-list-bubble__content">
                    <!---->
                </section>
            </div>
            <!---->
            <!---->
        </aside>
        <div class="authentication-outlet">
            <div id="careers" class="">
                <!---->
                <div id="ember22580" class="job-view-layout jobs-details ember-view">
                    <div id="ember22581" class="ember-view">
                        <figure class="jobs-hero jobs-hero--no-cover"></figure>
                    </div>
                    <div class="neptune-grid ">
                        <div role="main" class="jobs-details__main-content core-rail">
                            <!---->
                            <div id="ember22582" class="jobs-box jobs-box--fadein jobs-box--full-width jobs-details-top-card ember-view">
                                <div class="jobs-details-top-card__company-logo-container EntityPhoto-square-5">
                                    <a data-control-name="company_link" href="/company-beta/21836/life/" id="ember22583" class="ember-view">      <img class="lazy-image jobs-details-top-card__company-logo loaded" alt="" height="122" width="122" src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAjVAAAAJGM0ZDU2YWIyLThlNmUtNGFkZC04ZmVmLTEwNzc3MzQ4ZTgxOA.png">
                                    </a>
                                </div>
                                <div class="jobs-details-top-card__buttons-container pr3 pl2">
                                    <!---->
                                    <button data-control-name="jobdetails_topcard_share" class="jobs-details-top-card__button pl3" data-ember-action="" data-ember-action-22584="22584">
                                        <span class="a11y-text">Share this to social media</span>
                                        <span class="svg-icon-wrap">
                                 <li-icon aria-hidden="true" type="share-linkedin-icon">
                                    <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
                                       <g class="large-icon" style="fill: currentColor">
                                          <path d="M24,12h0a1.18,1.18,0,0,0-.36-0.84L14,2V8H11A10,10,0,0,0,1,18v4H2.87A6.11,6.11,0,0,1,9,16h5v6l9.63-9.14A1.18,1.18,0,0,0,24,12s0,0,0,0h0Zm-8,5.54V14H9a8.15,8.15,0,0,0-6,2.84A8,8,0,0,1,11,10h5V6.48L21.81,12Z"></path>
                                       </g>
                                    </svg>
                                 </li-icon>
                              </span>
                                    </button>
                                    <button data-control-name="jobdetails_topcard_options" class="jobs-details-top-card__button pl3" data-ember-action="" data-ember-action-22585="22585">
                                        <span class="a11y-text">Show more options</span>
                                        <span class="svg-icon-wrap">
                                 <li-icon aria-hidden="true" type="ellipsis-horizontal-icon">
                                    <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
                                       <g class="large-icon" style="fill: currentColor">
                                          <path d="M2,10H6v4H2V10Zm8,4h4V10H10v4Zm8-4v4h4V10H18Z"></path>
                                       </g>
                                    </svg>
                                 </li-icon>
                              </span>
                                    </button>
                                    <!---->
                                    <div id="ember22586" class="ember-view">
                                        <div id="jobs-share" class="ember-view">
                                            <!---->
                                        </div>
                                    </div>
                                    <div id="ember22588" class="ember-view">
                                        <div id="ember22589" class="ember-view">
                                            <!---->
                                        </div>
                                    </div>
                                    <div id="ember22590" class="jobs-send-feedback ember-view">
                                        <div id="top-card-send-feedback" class="ember-view">
                                            <!---->
                                        </div>
                                        <button class="jobs-send-feedback__send-feedback-button" data-ember-action="" data-ember-action-22592="22592">
                                            <span class="a11y-text">Open feedback dialog</span>
                                        </button>
                                    </div>
                                    <!---->
                                    <!---->
                                </div>
                                <div class="jobs-details-top-card__content-container mt6 pb5">
                                    <h1 class="Sans-21px-black-85%-dense">
                                        {{job.title}}
                                    </h1>
                                    <h3 class="jobs-details-top-card__company-info Sans-15px-black-55% mt1">
                                        <span class="a11y-text">Company Name</span>
                                        <a id="ember22593" class="jobs-details-top-card__company-url ember-view">
                                            {{job.company.companyName}}
                                        </a>
                                        <span class="jobs-details-top-card__bullet">
                                                  <span class="a11y-text">Company Location</span>
                                                  {{job.location}}
                                        </span>
                                    </h3>
                                    <div class="jobs-details-top-card__flavors mt4">
                                        <ul id="ember22594" class="job-flavors ember-view">
                                            <li class="job-flavors__flavor-wrapper">
                                                <div id="ember22595" class="job-flavors__flavor job-flavors__flavor--hidden-gem ember-view">
                                                   <span class="job-flavors__icon svg-icon-wrap">
                                                      <li-icon aria-hidden="true" type="clock-icon" size="medium">
                                                         <svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
                                                         </svg>
                                                      </li-icon>
                                                   </span>

                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="jobs-details-top-card__actions mt4">
                                        <button ng-if=" !jobisinterested " ng-click="interestedJob()" data-control-name="jobdetails_topcard_save" id="ember22596" class="jobs-s-save--large-secondary mr2 jobs-s-save ember-view">
                                            <span aria-hidden="true">Interested</span>
                                        </button>
                                        <button ng-if=" jobisinterested " ng-click="interestedJob()" data-control-name="jobdetails_topcard_save" id="ember22596" class="jobs-s-save--large-secondary mr2 jobs-s-save ember-view">
                                            <span aria-hidden="true">Not Interested</span>
                                        </button>

                                        <!-- display only if user is verified -->
                                        <div ng-if="jobisapplied" id="ember22625" class="jobs-s-apply--top-card jobs-s-apply--fadein mr2 jobs-s-apply ember-view">

                                            <button data-control-name="jobdetails_topcard_apply_starters" class="jobs-s-apply__button" data-ember-action="" data-ember-action-22626="22626">
                                                <span aria-hidden="true">Applied</span>
                                            </button>
                                        </div>

                                        <div ng-if="jobseekerverified && !jobisapplied" id="ember22625" class="jobs-s-apply--top-card jobs-s-apply--fadein mr2 jobs-s-apply ember-view">

                                            <button ng-click="applywithprofile()" data-control-name="jobdetails_topcard_apply_starters" class="jobs-s-apply__button" data-ember-action="" data-ember-action-22626="22626">
                                                <span aria-hidden="true">Apply with profile</span>
                                            </button>
                                        </div>
                                        <div ng-if="jobseekerverified && !jobisapplied" id="ember22625" class="jobs-s-apply--top-card jobs-s-apply--fadein mr2 jobs-s-apply ember-view">
                                            <button ng-click="applywithresume()" data-control-name="jobdetails_topcard_apply_starters" class="jobs-s-apply__button" data-ember-action="" data-ember-action-22626="22626">
                                                <span aria-hidden="true">Apply with resume</span>
                                            </button>
                                        </div>

                                        <!-- apply with resume s3 -->
                                        <button type="file" ngf-select="uploadFiles($file, $invalidFiles)"
                                                accept="application/pdf" ngf-max-height="1000" ngf-max-size="5MB">
                                            Select File</button>
                                        <br><br>
                                        File:
                                        <div style="font:smaller">
                                            {{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}
                                            <span class="progress" ng-show="f.progress >= 0">
                                              <div style="width:{{f.progress}}%" ng-bind="f.progress + '%'"></div>
                                           </span>
                                        </div>



                                    </div>
                                    <!----><!---->
                                </div>
                                <div id="ember22597" class="ember-view">
                                    <div id="jobs-apply" class="ember-view">
                                        <!---->
                                    </div>
                                </div>
                                <div id="ember22599" class="ember-view">
                                    <div id="jobs-apply-starter" class="ember-view">
                                        <!---->
                                    </div>
                                </div>
                                <!---->
                            </div>
                            <div id="ember22601" class="jobs-box jobs-box--fadein jobs-box--full-width jobs-box--with-cta-large jobs-description jobs-description--has-poster ember-view">
                                <article class="jobs-description__container">
                                    <div class="jobs-description__content jobs-description-content">
                                        <div id="job-details" tabindex="-1" class="jobs-box__html-content jobs-description-content__text Sans-15px-black-70%">
                                            <h2 class="jobs-description-content__title jobs-box__title">Job description</h2>
                                            <p></p>
                                            What You Will Be Doing
                                            <p>
                                               {{job.jobDescription}}
                                            </p>

                                            Your responsibilities
                                            <p>
                                                {{job.responsibilities}}
                                            </p>
                                        </div>

                                    </div>
                                </article>
                                <div id="ember22603" class="cta-wrap ember-view">
                                    <button aria-controls="job-details" aria-expanded="true" data-control-name="view_less" class="view-more-icon" data-ember-action="" data-ember-action-22604="22604">
                                        <span>End of description</span>

                                    </button>
                                </div>
                            </div>
                            <!---->

                            <div id="ember29325" class="jobs-box--generic-occludable-area-large ember-view">
                                <!---->
                            </div>
                        </div>

                    </div>
                </div>
                <div id="ember22607" class="ember-view">
                    <div id="ember22608" class="ember-view">
                        <!---->
                    </div>
                </div>
                <div id="ember22609" class="ember-view">
                    <div id="jobs-refer-candidate-modal" class="ember-view">
                        <!---->
                    </div>
                </div>
                <div id="ember22611" class="jobs-box--generic-occludable-area-small ember-view">
                    <!---->
                </div>
            </div>
        </div>
    </div>
    <div id="li-modal-container"></div>
    <!---->
    <!---->
    <!---->
    <!---->
    <div id="type-ahead-wormhole" class="type-ahead type-ahead-wormhole"></div>
    <div id="toast-wormhole" class="toast-wormhole"></div>
    <iframe sandbox="allow-scripts" style="display:none;" src="//radar.cedexis.com/1/11326/radar.html">
    </iframe>
</div>