

<div id="profile-wrapper" class="pv-profile-wrapper ">
	<div id="ember2433" class="ember-view">
	</div>


	<div id="ember2487" class="bg-img bg-img-edit picture-cropper ember-view">
		<div class="bg-img-edit__grid bg-img-edit__action-banner visibility-hidden bg-img-edit__action-banner--hide">
			<div class="bg-img-edit__grid-line bg-img-edit__action-banner-body ">
				<div class="display-flex flex-column">
					<span class="bg-img-edit__highlight-text Sans-15px-black-85%-semibold">Drag to reposition</span>
					<span class="bg-img-edit__simple-text Sans-15px-black-55%">The scale of your photo may appear differently on smaller devices</span>
				</div>
				<div class="display-flex">
					<button data-control-name="profile_background_image_edit_cancel" class="bg-img-edit__cancel-action" data-ember-action="" data-ember-action-2623="2623">
						Cancel
					</button>
					<button data-control-name="profile_background_image_edit_save" class="bg-img-edit__save-action" data-ember-action="" data-ember-action-2624="2624">
						Save
					</button>
				</div>
			</div>
		</div>

		<div class="bg-img__zero-height-container">
			<div class="bg-img__visible-content bg-img__show-default header-medium ">
				<div style="height:220px;" class="bg-img__cropper"></div>


				<div class="bg-img-edit__grid bg-img-edit__grid--edit-btn ">
					<div class="bg-img-edit__grid-line bg-img-edit__grid-line--edit-btn ">
						<div data-control-name="profile_background_image_edit" id="ember2631" class="bg-img-edit__grid-right-rail bg-img-edit-button ember-view">
							<div id="ember2636" class="bg-img-edit-button__dropdown dropdown closed ember-view">

								<button type="button" ng-click="updatePage()" aria-controls="ember2636-options" aria-expanded="false" data-control-name="profile_background_image_edit" id="ember2636-trigger" class="bg-img-edit-button__dropdown-trigger dropdown-trigger ember-view">
									<div class="bg-img-edit-button__action-body bg-img-edit-button__action-body--dropdown-trigger">
									<span class="bg-img-edit-button__action-icon bg-img-edit-button__action-icon--dropdown-trigger svg-icon-wrap">
										<li-icon aria-hidden="true" type="image-icon" size="medium">
											<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
												<g class="large-icon" style="fill: currentColor">
												</g>
											</svg>
										</li-icon>
									</span>
									<span class="Sans-17px-white-100%-semibold">

									</span>
									</div>
								</button>

							<ul id="ember2636-options" style="display: none;" class="bg-img-edit-button__dropdown-options ember-view" tabindex="-1"><!----></ul>
						</div></div>
					</div>
				</div>

				<!---->  </div>
		</div></div>


	<div class="pv-content profile-view-grid neptune-grid two-column ghost-animate-in ">
		<!---->
		<div>
			<!---->
			<section id="ember2673" class="pv-profile-section artdeco-container-card pv-top-card-section ember-view"><!---->
				<div class="pv-top-card-section__overflow-wrapper pv-top-card-section__right-corner-action pv-top-card-section__overflow-wrapper--self">
					<div id="ember2682" class="dropdown pv-top-card-overflow closed ember-view"><button type="button" aria-controls="ember2682-options" aria-expanded="false" data-control-name="overflow_view" id="ember2682-trigger" class="pv-top-card-overflow__trigger button-tertiary-medium-round-inverse dropdown-trigger ember-view">
						<span class="icon svg-icon-wrap">
							<span class="visually-hidden">More Actions</span>
							<li-icon aria-hidden="true" type="ellipsis-horizontal-icon">
								<svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon">
									<g class="large-icon" style="fill: currentColor">
        <path d="M2,10H6v4H2V10Zm8,4h4V10H10v4Zm8-4v4h4V10H18Z"></path>
      </g></svg></li-icon></span>
					</button><!----></div>
					<!----></div>


				<span id="ember2692" style="display: none;" class="pv-member-badge ember-view"><!---->
<span class="visually-hidden">Darshan has a  account</span>

					<!----></span>

				<!---->
				<!---->
				<!---->
				<div class="pv-top-card-section__header">
					<div class="pv-top-card-section__photo-wrapper EntityPhoto-circle-8">
						<label for="member-photo-edit-upload-input" class="visually-hidden">
							Profile photo
						</label>

						<div id="ember2701" class="pv-top-card-section__edit-photo profile-photo-edit ember-view">
							<button data-control-name="edit_profile_photo" class="profile-photo-edit__edit-btn" data-ember-action="" data-ember-action-2702="2702">
								<img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAkSAAAAJDY0YmIwODAwLWQxMjAtNDIzNC05ZGFmLWFmZjJiYjYwZjliZA.jpg" class="profile-photo-edit__preview" alt="Edit photo" height="128" width="128">
								<span class="profile-photo-edit__edit-icon svg-icon-wrap"><li-icon aria-hidden="true" type="pencil-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="small-icon" style="fill-opacity: 1">
        <path d="M14.71,4L12,1.29a1,1,0,0,0-1.41,0L3,8.85,1,15l6.15-2,7.55-7.55A1,1,0,0,0,15,4.71,1,1,0,0,0,14.71,4Zm-8.84,7.6-1.5-1.5L9.42,5.07l1.5,1.5Zm5.72-5.72-1.5-1.5,1.17-1.17,1.5,1.5Z"></path>
      </g></svg></li-icon></span>
							</button>
						</div>

					</div>
					<!----></div>

				<a data-control-name="edit_top_card" href="/in/darshan009/edit/topcard/" id="ember2713" class="pv-top-card-section__edit pv-top-card-section__right-corner-action button-tertiary-medium-round ember-view">    <span class="svg-icon-wrap"><span class="visually-hidden">Edit Profile</span><li-icon aria-hidden="true" type="pencil-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">

      </g></svg></li-icon></span>
				</a>
				<div class="pv-top-card-section__body">
					<div class="pv-top-card-section__information mt3">
						<h1 class="pv-top-card-section__name Sans-26px-black-85% mb1"> {{firstname}} {{lastname}} </h1>

						<!--<h2 class="pv-top-card-section__headline Sans-19px-black-85% mb1">Actively seeking Software Internship for Summer 2017 | Graduate student at San Jose State University</h2>-->

						<!--<div class="pv-top-card-section__experience truncate">-->
						<!--<h3 class="pv-top-card-section__company Sans-17px-black-70% mb1 inline-block">-->
						<!--Bit Brothers-->
						<!--</h3>-->

						<!--<h3 class="pv-top-card-section__school pv-top-card-section__school&#45;&#45;with-separator Sans-17px-black-70% mb1 inline-block">-->
						<!--San Jose State University-->
						<!--</h3>-->
						<!--</div>-->

						<!--<h3 class="pv-top-card-section__location Sans-17px-black-70% mb1 inline-block">San Jose, California</h3>-->

						<!--<h3 class="pv-top-card-section__connections pv-top-card-section__connections&#45;&#45;with-separator Sans-17px-black-70% mb1 inline-block">-->
							<!--<span aria-hidden="true">185</span>-->
							<!--<span class="svg-icon-wrap"><span class="visually-hidden">185 connections</span><li-icon aria-hidden="true" type="people-icon" class="pv-top-card-section__connections-icon" size="small"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="small-icon" style="fill-opacity: 1">-->
      <!--</g></svg></li-icon></span>-->
						<!--</h3>-->
					</div>

					<!---->

					<div class="pv-top-card-section__rich-content mt4 ph2">
						<p id="ember2722" class="pv-top-card-section__summary Sans-15px-black-55% mt5 pt5 ember-view">
						<div class="truncate-multiline--truncation-target">
							<span>
								<!--  graduate steudnte descsiption optional place   -->
							</span>
							<span class="truncate-multiline--last-line-wrapper">
							<span class="truncate-multiline--last-line">
								{{description}}
							</span>
							<button class="truncate-multiline--button-hidden" data-ember-action="" data-ember-action-2723="2723">

  </button></span></div>

						</p>


					</div>
				</div>
			</section>


			<section id="ember3083" class="pv-profile-section artdeco-container-card pv-pcm-section pv-pcm-section--hidden ember-view"><!---->
				<!----></section>


			<!---->

			<div class="profile-detail">
				<!---->
				<div style="" id="ember2754" class="pv-deferred-area ember-view">  <div class="pv-deferred-area__content">
					<!---->

				</div>
				</div>
				<div id="ember2763" class="pv-oc ember-view">          <span class="background-details">
          <section id="ember3223" class="pv-profile-section artdeco-container-card background-section pv-profile-section--reorder-enabled ember-view">  <section id="ember3234" class="pv-profile-section experience-section ember-view">
				<header class="pv-profile-section__card-header">
				  <h2 class="pv-profile-section__card-heading Sans-17px-black-85%">
					Experience
				  </h2>

				</header>


			  <!-- work experience loop -->

			  <ul class="pv-profile-section__section-info section-info pv-profile-section__section-info--has-no-more" ng-repeat="experience in workexperience">
				  <li id="888496017" class="pv-profile-section__card-item pv-position-entity ember-view">
					  <div class="pv-entity__actions">

					  </div>

					<a data-control-name="background_details_company" href="/company-beta/2918603/" id="ember3249" class="ember-view">    <div class="pv-position-entity__logo pv-entity__logo company-logo">
						  <img class="lazy-image pv-position-entity__logo-img pv-entity__logo-img EntityPhoto-square-4 loaded" alt="Bit Brothers" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/3/000/274/177/3c628ba.png">
						</div>
						<div class="pv-entity__summary-info">
						  <h3 class="Sans-17px-black-85%-semibold"> {{experience.positionheld}} </h3>

						  <h4>
							<span class="visually-hidden">Company Name</span>
							<span class="pv-position-entity__secondary-title pv-entity__secondary-title Sans-15px-black-55%">{{experience.companyname}}</span>
						  </h4>
							<h4 class="pv-entity__date-range Sans-15px-black-55%">
							<span class="visually-hidden">Dates Employed</span>
							<span>{{experience.startdate}} – {{experience.enddate}}</span>
						  </h4>
							<!--<h4 class="pv-entity__duration Sans-15px-black-55% ml1">-->
							  <!--<span class="visually-hidden">Employment Duration</span>-->
							  <!--<span class="pv-entity__bullet-item">9 mos</span>-->
							<!--</h4>-->

						  <!--<h4 class="pv-entity__location Sans-15px-black-55% block">-->
							<!--<span class="visually-hidden">Location</span>-->
							<!--<span>Mumbai Area, India</span>-->
						  <!--</h4>-->

						</div>

					</a>
					<div class="pv-entity__extra-details">
					<p id="profile-position-888496017" tabindex="-1" class="pv-entity__description Sans-15px-black-70% mt4">

					</p>

				</div>

			</li>
		  </ul>

	<!----></section>


			<section id="education-section" class="pv-profile-section education-section ember-view">
					<header class="pv-profile-section__card-header">
						  <h2 class="pv-profile-section__card-heading Sans-17px-black-85%">
							Education
						  </h2>

					</header>

				<!-- education loop section -->

					<ul ng-repeat="education in educations" class="pv-profile-section__section-info section-info pv-profile-section__section-info--has-no-more">
						<li id="382448460" class="pv-education-entity pv-profile-section__card-item ember-view">
							<a data-control-name="edit_education" href="/in/darshan009/edit/education/382448460/" id="ember3295" class="pv-profile-section__edit-action ember-view">    <span class="svg-icon-wrap"><span class="visually-hidden">Edit education San Jose State University</span><li-icon aria-hidden="true" type="pencil-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
									<path d="M21.71,5L19,2.29a1,1,0,0,0-1.41,0L4,15.85,2,22l6.15-2L21.71,6.45A1,1,0,0,0,22,5.71,1,1,0,0,0,21.71,5ZM6.87,18.64l-1.5-1.5L15.92,6.57l1.5,1.5ZM18.09,7.41l-1.5-1.5,1.67-1.67,1.5,1.5Z"></path>
								  </g></svg></li-icon></span>
							</a>
							<a data-control-name="background_details_school" href="/edu/school/17911/?legacySchoolId=17911" id="ember3296" class="ember-view">
							<div class="pv-education-entity__logo pv-entity__logo">
							  <img class="lazy-image pv-education-entity__logo-img pv-entity__logo-img EntityPhoto-square-4 loaded" alt="San Jose State University" src="https://media.licdn.com/mpr/mpr/shrinknp_100_100/p/5/005/07f/3a1/1e29cff.png">
							</div>

							<div class="pv-entity__summary-info">
							  <div class="pv-entity__degree-info">
								<h3 class="pv-entity__school-name Sans-17px-black-85%-semibold">{{experience.institute}}</h3>

								  <p class="pv-education-entity__secondary-title pv-entity__degree-name pv-entity__secondary-title Sans-15px-black-55%">
									<span class="visually-hidden">Degree Name</span>
									<span class="pv-entity__comma-item">{{education.degree}}</span>
								  </p>
							  </div>

								<p class="pv-education-entity__date pv-entity__dates Sans-15px-black-55%">
								  <span class="visually-hidden">Dates attended or expected graduation</span>
								  <span>
										<time>{{experience.startdate}}</time> – <time>{{experience.enddate}}</time>
								  </span>
								</p>


								<!----></div>
							</a>
							  <div class="pv-entity__extra-details">
								<!--<p tabindex="-1" class="pv-entity__description Sans-15px-black-70% mt4">-->
								  <!--Graduate Student with dual specialization in 'Enterprise Software Technologies' and 'Cloud Computing and Virtualization'.-->
								<!--</p>-->
								  <!---->
							</div>

						</li>


					</ul>


	  <!----></section>

			  <!----></section>

        </span>

				</div>

				<!-- Add a new skill -->



				<div style="" id="ember2814" class="pv-deferred-area ember-view">
					<div class="pv-deferred-area__content">
						<section id="ember4419" class="pv-profile-section artdeco-container-card pv-featured-skills-section ember-view">
							<a data-control-name="edit_skills" href="/in/darshan009/skills/" id="ember4420" class="pv-profile-section__edit-action pv-profile-section__edit-action--show ember-view"> <span class="svg-icon-wrap"><span class="visually-hidden">Edit skills</span>
							<li-icon aria-hidden="true" type="pencil-icon"><svg viewBox="0 0 24 24" width="24px" height="24px" x="0" y="0" preserveAspectRatio="xMinYMin meet" class="artdeco-icon"><g class="large-icon" style="fill: currentColor">
					<path d="M21.71,5L19,2.29a1,1,0,0,0-1.41,0L4,15.85,2,22l6.15-2L21.71,6.45A1,1,0,0,0,22,5.71,1,1,0,0,0,21.71,5ZM6.87,18.64l-1.5-1.5L15.92,6.57l1.5,1.5ZM18.09,7.41l-1.5-1.5,1.67-1.67,1.5,1.5Z"></path>
				  </g></svg></li-icon>
							</span>
							</a>
							<a data-control-name="edit_skills_add" href="/in/darshan009/skills/add/" id="ember4421" class="pv-skills-section__add-label button-tertiary-medium-muted ember-view">  Add a new skill
							</a>

							<h2 class="pv-profile-section__card-heading Sans-17px-black-85%">
								Featured Skills &amp; Endorsements
							</h2>


							<div id="featured-skills-expanded" tabindex="-1">

								<!-- user skills -->

								<ul class="pv-featured-skills-list pv-featured-skills-list--no-highlights section-info no-highlights" ng-repeat="skill in skills">

									<li id="ember4670" class="pv-skill-entity--featured pb5 pv-skill-entity relative ember-view">

										<!---->
										<div class="pv-skill-entity__header">
											<div class="tooltip-container">

												<a data-control-name="edit_endorsements" id="ember4671" class="featured-skill-entity-wrapper ember-view">
													<div class="pv-skill-entity__pill-contents static-pill">
														<span class="pv-skill-entity__skill-name truncate Sans-15px-black-85%-semibold inline-block ">
															{{skill.skill}}
														</span>


													</div>
												</a>
												<div role="tooltip" id="pv-skill-entity-name-tooltip" class="tooltip">
													{{skill.skill}}
												</div>
											</div>
											<!---->
										</div>


									</li>

							</div>


							<!-- TODO: remove the following key and replace them with show_more and a11y_skills_more after 03/22/17 -->

						</section>


					</div>
				</div>



			</div>
		</div>


		<div id="ember2900" class="nav-footer nav-footer--static ember-view"><div id="ember2901" class="nav-footer__occlusion-hint ember-view"><!----></div></div>
	</div>

	<!---->

</div>



