<div>
	<section id="ember7552" class="org-top-card-module org-top-card-module--lcp-page ember-view" style="margin-left: 25%;width:50%">
    	<div class="org-top-card-module__container container-with-shadow clearfix" style="margin-top: 80px; margin-left:1%">
                            <!---->
        	<img class="lazy-image org-top-card-module__logo loaded" alt="Company Logo" height="120" width="120" ng-src={{company.logoURL}}>
            	<div class="org-top-card-module__details">
                	<div class="org-top-card-module__main-column">
                    	<h1 dir="ltr" class="org-top-card-module__name mb1 Sans-26px-black-85%-light">
                        	{{company.companyName}}
                        </h1>
                        <div class="org-top-card-module__summary-company-info">
                        	<span class="Sans-15px-black-55%">
                             	{{company.address}}
                            </span>
                        </div>
                        <div class="org-top-card-module__company-actions-bar">
                        	<div id="ember7609" class="inline-block org-top-card-actions ember-view">
                            </div>
                        </div>
                    </div>
                </div>
                <h3 ng-show="sMsg" style="color: green">Job posted successfully</h3>
        		<h3 ng-show="fMsg" style="color: red">Error in posting the job</h3>
        </div>
        
      </section>
      <div class="pe-s-form__body pe-form-body" style="margin-left: 25%;width:50%">
      	<div data-form-elem-focus="true" class="pe-form-field pe-top-card-form__headline-field floating-label  ">
			<label for="topcard-headline" class="pe-form-field__label label-text required">
    			Job Title
  			</label>
  			<input type="text" name="firstName" ng-model="jobpostingData.title" maxlength="200" id="topcard-firstname" class="ember-text-field pe-form-field__text-input ember-view">
	  	</div>
	  	<div data-form-elem-focus="true" class="pe-form-field pe-top-card-form__headline-field floating-label  ">
			<label for="topcard-headline" class="pe-form-field__label label-text required">
    			Job Location
  			</label>
  			<input type="text" name="firstName" ng-model="jobpostingData.location" maxlength="200" id="topcard-firstname" class="ember-text-field pe-form-field__text-input ember-view">
	  	</div>
      	<div data-form-elem-focus="true" class="pe-form-field pe-top-card-form__headline-field floating-label  ">
			<label for="topcard-headline" class="pe-form-field__label label-text required">
    			Job Description
  			</label>
  			<textarea id="topcard-headline" ng-model="jobpostingData.jobDescription" class="pe-top-card-form__headline-text ember-text-area pe-form-field__textarea ember-view"></textarea>
	  	</div>
	  	<div data-form-elem-focus="true" class="pe-form-field pe-top-card-form__headline-field floating-label  ">
			<label for="topcard-headline" class="pe-form-field__label label-text required">
    			Responsibilities
  			</label>
  			<textarea id="topcard-headline" ng-model="jobpostingData.responsibilities" class="pe-top-card-form__headline-text ember-text-area pe-form-field__textarea ember-view"></textarea>
	  	</div>
 		<div data-form-elem-focus="true" class="pe-form-field pe-top-card-form__headline-field floating-label  ">
			<label for="topcard-headline" class="pe-form-field__label label-text required">
    			Skills
  			</label>
  			<textarea id="topcard-headline" ng-model="jobpostingData.skills" class="pe-top-card-form__headline-text ember-text-area pe-form-field__textarea ember-view"></textarea>
	  	</div>
	  	<div data-form-elem-focus="true" class="pe-form-field pe-top-card-form__headline-field floating-label  ">
			<label for="topcard-headline" class="pe-form-field__label label-text required">
    			Salary
  			</label>
  			<input type="text" name="firstName" ng-model="jobpostingData.salary" maxlength="200" id="topcard-firstname" class="ember-text-field pe-form-field__text-input ember-view">
	  	</div>
	  	<div id="ember10750" class="ember-view">
	      	<div class="pe-form-field pe-treasury-view">
				<div class="pe-treasury-view__actions display-flex justify-space-between">
    			<input type="button" id="pe-treasury-view__media-upload" name="file" class="visually-hidden pe-treasury-view__media" ng-click="postJob()">
    			<label for="pe-treasury-view__media-upload" class="pe-treasury-view__upload-label button-primary-large">
      				Publish
    			</label>
  			</div>
		  </div>
		</div>
    </div>
</div>